---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/card-pic1.png";
import c2 from "../../assets/pics/card-pic2.png";
import c3 from "../../assets/pics/card-pic3.png";
import c4 from "../../assets/pics/card-pic4.png";

const sections = [
  {
    titleTop: "Personalised",
    titleBottom: "Route Planning",
    description: [
      "Plan your rides effortlessly in just two minutes.",
      "Discover destinations tailored to your preferences.",
      "Select routes that match your taste.",
      "Enjoy simplified and perfect adventure planning.",
    ],
    img: c1,
    alt: "Personalised Route Planning",
  },
  {
    titleTop: "Seamless",
    titleBottom: "Group Ride Coordination",
    description: [
      "Create comprehensive ride plans in one place.",
      "Add riders and send invites to your friends.",
      "Provide an overview of the ride plan.",
      "Dynamically replan during the ride to adapt to changes.",
    ],
    img: c2,
    alt: "Group Ride Coordination",
  },
  {
    titleTop: "Live Location",
    titleBottom: "Sharing",
    description: [
      "Keep your group connected with real-time location sharing.",
      "Eliminate the worry of members taking wrong turns.",
      "Ensure no rider is left behind.",
      "Track co-riders as they finish their journey safely.",
    ],
    img: c3,
    alt: "Live Location Sharing",
  },
  {
    titleTop: "Ride",
    titleBottom: "Memories",
    description: [
      "Maintain a detailed ride log with maps and routes.",
      "Include key statistics for each ride.",
      "Easily share ride photos with your co-riders.",
      "Create a collective memory of your adventures.",
    ],
    img: c4,
    alt: "Ride Memories",
  },
];

const description = "Explore our advanced features for effortless ride planning and coordination.";
---

<Section id="features">
  <div class="mt-[140px] mb-5">
    <SectionTitle sectionTitle="Our Features" description={description} />
    <div class="flex flex-col gap-14">
      {sections.map((section, index) => (
        <div class={`grid lg:grid-cols-2 items-center gap-10`}>
          {/* Text Card */}
          <ServiceCard
            index={1}
            titleTop={section.titleTop}
            titleBottom={section.titleBottom}
            description={section.description}
          />

          {/* Image Card */}
          <ServiceCard
            index={2}
            img={section.img}
            alt={section.alt}
          />
        </div>
      ))}
    </div>
  </div>
</Section>
