---
import FeatureCard from './FeatureCard.astro';
import { features } from '../constants/features.ts';
import { Bell } from 'lucide-astro'; 
---

<div class="bg-white  py-24">
  <div class="container mx-auto px-4">
    <h2 class="text-4xl font-bold text-center mb-16 text-white font-['Satoshi']">Features</h2>
    <div class="grid md:grid-cols-2 gap-12">
      {features.map((feature, index) => (
        <FeatureCard
          title={feature.title}
          description={feature.description}
          icon={Bell}
          details={feature.details}
          image={feature.image}
          imageAlt={feature.imageAlt}
        />
      ))}
    </div>
  </div>
</div>
