---
import { Image } from "astro:assets";
import Facebook from "../../assets/facebook.svg";
import Linkedin from "../../assets/linkedin.svg";
import Twitter from "../../assets/twitter.svg";
import Instagram from "../../assets/instagram.svg";
import PlayStore from "../../assets/playstore.svg";
import AppStore from "../../assets/appstore.svg";
import Logo from "../../../public/Logo.svg";

const logos = [
  { name: "Facebook", src: Facebook, link: "https://facebook.com" },
  { name: "Linkedin", src: Linkedin, link: "https://linkedin.com" },
  { name: "Twitter", src: Twitter, link: "https://twitter.com" },
  { name: "Play Store", src: PlayStore, link: "https://play.google.com/store" },
  { name: "App Store", src: AppStore, link: "https://www.apple.com/app-store/" },
];

const links = [
  { name: "Home", href: "#home" },
  { name: "Features", href: "#services" },
  { name: "FAQs", href: "/faqs" },
  { name: "Contact", href: "#contact" },
];
---

<section class="sm:px-5">
  <div class="w-full max-w-[1240px] mx-auto">
    <div class="px-[15px] bg-dark text-gray py-[55px] lg:px-[60px] sm:rounded-t-[45px]">
      <div>
        <!-- Header Section -->
        <div class="flex lg:flex-row gap-7 items-center justify-between">
          <!-- Logo -->
          <picture>
            <a href="#home" class="flex items-center gap-3">
              <Image src={Logo} alt="RideSense Logo" class="h-16 w-auto" />
              <span class="text-5xl">RideSense</span>
            </a>
          </picture>

          <!-- Navigation Links -->
          <ul class="flex flex-col sm:flex-row gap-5 text-center">
            {links.map((link) => (
              <li>
                <a class="underline hover:text-green" href={link.href}>
                  {link.name}
                </a>
              </li>
            ))}
          </ul>

          <!-- Social Media Icons -->
          <ul class="flex gap-5">
            {logos.map((logo) => (
              <li>
                <a href={logo.link} target="_blank">
                  <picture>
                    <Image src={logo.src} alt={logo.name} class="w-6 h-6" />
                  </picture>
                </a>
              </li>
            ))}
          </ul>
        </div>

        <!-- Footer Bottom Section -->
        <div class="flex flex-col lg:flex-row mt-[66px] gap-10">
          <!-- Contact Information -->
          <div class="flex flex-col items-center lg:items-start w-full lg:w-[30%]">
            <h3 class="mb-5 text-center lg:text-left text-2xl text-green">
              Contact us
            </h3>
            <div class="flex flex-col text-center lg:text-left gap-4">
              <span>Email: help@ridesense.in</span>
              <span>Reach us on WhatsApp: +91 7975307375</span>
            </div>
          </div>

          <!-- Terms, Privacy, and App Store Links -->
          <div class="flex flex-col items-center lg:items-start w-full lg:w-[70%]">
            <div class="flex flex-col items-center lg:items-start gap-4">
              <ul class="flex flex-col sm:flex-row gap-4">
                <li>
                  <a class="underline hover:text-green" href="/tnc">
                    Terms and Conditions
                  </a>
                </li>
                <li>
                  <a class="underline hover:text-green" href="/privacypolicy">
                    Privacy Policy
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Copyright Section -->
        <div class="mt-12 pt-8 border-t border-gray-700 flex items-center justify-center gap-4">
          <Image src={Logo} alt="RideSense Logo" class="h-16 w-auto" />
          <p class="text-sm">Copyright © 2024 RideSense - All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</section>