---
import { Image } from "astro:assets";
import Card from "./Card.astro";

import gob from "../../assets/icon6.svg";
import wob from "../../assets/icon7.svg";

/* 
1. Gray card with green title and green on black icon 
2. Green card with gray title and green on black icon
3. Black card with gray title and gray on black icon
*/

const { index, titleTop, titleBottom, img, alt, link, children, description } = Astro.props;
---

<Card isUnderline={true}>
  <div
    class={`h-auto w-full sm:h-full lg:gap-8 grid custom-grid lg:grid-cols-1 lg:grid-rows-1 p-8 sm:p-[50px] rounded-[45px] ${
      index === 1 ? "bg-gray" : index === 2 ? "bg-green" : "bg-dark text-gray"
    }`}
  >
    {/* Render Title */}
    {titleTop && titleBottom && (
      <div class="flex flex-col col-span-2 lg:col-span-1">
        <h3>
          <span class={`block w-[fit-content] ${index === 1 ? "greenhead" : "whitehead"}`}>
            {titleTop}
          </span>
          <span class={`block w-[fit-content] ${index === 1 ? "greenhead" : "whitehead"}`}>
            {titleBottom}
          </span>
        </h3>

        {/* Render Description as Bullet Points */}
        {description && (
          <ul class="list-disc list-inside text-gray-700 mt-4 space-y-2">
            {description.map((point) => (
              <li class="text-[16px] leading-[1.5] sm:text-[18px] sm:leading-[1.75]">{point}</li>
            ))}
          </ul>
        )}
      </div>
    )}

    {/* Render Image */}
    {img && (
      <picture
        class="w-full h-auto flex justify-center items-center mt-4 lg:mt-0"
      >
        <Image
          src={img}
          alt={alt}
          class="h-[100px] w-auto sm:h-auto sm:w-3/4 object-cover"
        />
      </picture>
    )}
  </div>
</Card>

<style>
  .custom-grid {
    grid-template: auto auto;
  }
</style>
